footer {
	padding: 100px 0;
	background: $footerBG;
	text-align: center;

	nav{

		margin: 0 auto 100px;

		a{
			color: white;
			display: inline-block;
			padding: 10px 20px 10px 0;
			text-decoration: none;
			
		}

	}

	.copyright{
			color: $titleColor;
			
		}

	.social-media {
		color: white;
		margin: 0;
		padding: 0;
		display: inline-block;
	}

}

